.columns {
    height: calc(100% - 78px);
    width: 100%;
    display: flex;

    .left-column {
        order: 1;
        flex: 13;

        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    .right-column {
        order: 2;
        flex: 87;
        min-width: 300px;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
    }
}
