li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.8rem;
    width: 14rem;

    &:hover {
        transition: all 0.5s;
        transform: scale(1.1);
        opacity: 1;
    }

    span {
        color: #aaafb6;
        margin-left: 10px;
    }

    a {
        display: flex;
        align-items: center;
    }

    img {
        margin-left: 12px;
    }
}

.underline {
    border-bottom: 1px solid #dfe8f1;
    padding-top: 1.5rem;
}
