.header {
    height: 78px;
    height: 10%;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    color: white;
}

.header__logo {
    flex: 50;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .left {
        margin-left: 15px;
    }
}

.header__menu {
    flex: 50;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
