.charts {
    height: 38rem;
    width: 100%;

    @media screen and (max-width: 900px) {
        height: 980px;
    }
}

.summary {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
